body 
{
  font-size: 14pt;
  background-color: #eeeeee;
}

h3 
{ 
  font-size: 20pt;
  background-color: #ffffcc;
  padding: 5pt;
  padding-left: 10pt;
  margin-top: 5pt;
  margin-bottom: 0pt;
  border-color: #cccccc;
  border-style: solid;
}

ul
{
  background-color: #FFFFFF;
  padding: 10pt;
  padding-left: 20pt;
  border-color: #cccccc;
  border-style: solid;
}

li
{  
  padding: 1pt;
}
